@import "../vars/variables";
@import "../vars/functions";

.about {
    background-image: url(../img/about.png);

    header {
        .active {
            background-color: #91778e;
        }
    }

    &_content {
        &_header {
            &_block {
                h1 {
                    font-size: rem(60);
                    font-weight: 300;
                    font-style: normal;
                    line-height: 0.97;
                    margin-bottom: rem(35);
                    text-transform: uppercase;
                    color: $white;
                }

                p {
                    font-size: rem(14);
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1.71;
                    width: 95%;
                    margin: auto;
                    color: #e6d1e3;
                }

                &_team {
                    width: rem(275);
                    height: rem(65);
                    border-radius: rem(5);
                    background-color: #a1ca6c;
                    position: relative;
                    margin: rem(55) auto;

                    &:before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: #a1ca6c;
                        transform: rotate(45deg) translateX(-50%);
                        margin-top: -5px;
                        z-index: 5;
                        top: 100%;
                        left: 50%;
                        position: absolute;
                    }

                    h4 {
                        font-size: rem(25);
                        font-weight: 900;
                        font-style: normal;
                        line-height: 2.32;
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &_center {
            padding-bottom: rem(110);

            &_block {
                padding: rem(30);
                background-color: rgba(77, 63, 75, 0.5);
                border-radius: rem(5);

                h3 {
                    text-transform: uppercase;
                    font-size: rem(25);
                    font-weight: 900;
                    font-style: normal;
                    color: #c7b6c5;
                }

                p {
                    font-size: rem(14);
                    font-weight: normal;
                    font-style: normal;
                    color: #a1ca6c;
                }

                &:hover {
                    .about_block_img:after {
                        border: rem(5) solid #df5c64;
                    }

                    .red {
                        opacity: 1 !important;
                    }

                    .normal {
                        opacity: 0 !important;
                    }

                    h3 {
                        color: $white;
                    }

                    p {
                        color: #ff8973;
                    }

                    .facebook {
                        background: #4f689e;
                    }

                    .twit {
                        background: #74c7d5;
                    }

                    .google {
                        background: #df5c64;
                    }

                    .linke {
                        background: #3e61af;
                    }
                }

                &_img {
                    position: relative;
                    width: rem(154);
                    height: rem(154);
                    margin: auto;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: rem(15);

                    .normal,
                    .red {
                        position: absolute;
                        top: 8px;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }

                    .red {
                        opacity: 0;
                    }

                    .normal {
                        opacity: 1;
                    }

                    &:before,
                    &:after,
                    &_second:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        top: 0;
                        left: 0;
                    }

                    &:before {
                        background-color: $white;
                    }

                    &:after {
                        border: rem(5) solid #a1859e;
                        transform: scale(1.01);
                    }

                    &_second:after {
                        border: rem(5) solid $white;
                        transform: scale(0.98);
                    }
                }

                &_social {
                    padding: 0;
                    list-style: none;
                    margin-top: rem(35);

                    .facebook, .twit, .google {
                        margin-right: rem(20);
                    }

                    &_item {
                        display: inline-block;
                        width: rem(30);
                        height: rem(30);
                        background: #a1859e;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}