@import "../vars/variables";
@import "../vars/functions";

.contacts {
    background-color: #75b4aa;
    color: $white;
    position: relative;
    z-index: 1;
}

.contacts_img {
    position: absolute;
}

.contacts_content_center {
    padding-top: rem(100);
    padding-bottom: rem(80);

    h2 {
        font-size: rem(30);
        font-weight: 300;
        font-style: normal;
        line-height: 1;
        margin-bottom: rem(25);
    }
}

.contacts_content_address {
    h3 {
        font-size: rem(20);
        font-weight: bold;
        font-style: normal;
        line-height: 0.85;
        color: #c0dfda;
        margin-bottom: rem(20);
    }

    p {
        font-size: rem(16);
        font-weight: normal;
        font-style: normal;
        line-height: 1.31;
    }
}

.contacts_content_contact {
    padding-top: rem(45);

    p {
        color: #d0efea;
        margin: 0;

        span {
            display: inline-block;
            min-width: 70px;
        }

        a {
            color: $white;
        }
    }
}

.map {
    width: rem(260);
    height: rem(220);
    border-radius: rem(4);
    background-color: #ff8973;
    overflow: hidden;
    margin: auto;
}

.contacts_cont_email_pad {
    padding: 0 rem(10) rem(20);

    .form-control {
        border-radius: rem(4);
        background-color: #68a097;
        padding: rem(15) rem(20);
        border: 0;
        color: #82c8bd;
    }

    .form-control:focus {
        box-shadow: none;
        background-color: #f6f6f6;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #82c8bd;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #82c8bd;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #82c8bd;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #82c8bd;
    }

    .btn {
        font-size: rem(26);
        font-weight: 900;
        font-style: normal;
        line-height: 0.81;
        margin-top: rem(30);
        text-transform: uppercase;
    }

    .btn-danger {
        background: #df5c64;
        box-shadow: inset 0px -4px 0 0 rgba(178, 74, 80, 0.5);
        border: 0;
    }

    .btn-lg {
        width: 260px;
        height: 50px;
    }
}