@import "../vars/variables";
@import "../vars/functions";

.services, .about, .work, .contacts {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.services {
    background-image: url(../img/services.png);

    &_content {
        &_header {
            h1, h5 {
                text-transform: uppercase;
                color: $white;
            }

            h1 {
                font-size: rem(60);
                font-weight: 300;
                font-style: normal;
                line-height: 0.97;
                margin-bottom: 35px;
            }

            h5 {
                font-size: rem(20);
                font-weight: normal;
                font-style: normal;
                line-height: 2.9;

                strong {
                    color: #ec9da2;
                }
            }

            p {
                font-size: rem(14);
                font-weight: normal;
                font-style: normal;
                line-height: 1.71;
                width: 95%;
                margin: auto;
                color: #ffcccf;
            }
        }

        &_center {
            padding-top: rem(120);

            &_block {
                padding: rem(40) rem(25);
                background-color: rgba(200, 83, 90, 0.8);
                border-radius: rem(5);

                h3 {
                    text-transform: uppercase;
                    font-size: rem(30);
                    font-weight: 300;
                    font-style: normal;
                    line-height: 1.93;
                    color: $white;
                    margin: 30px 0 50px;
                }

                p {
                    font-size: rem(14);
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1.43;
                    color: #fefefe;
                    margin: 0;
                }

                &_img {
                    position: relative;
                    width: rem(120);
                    height: rem(120);
                    margin: auto;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        top: 0;
                        left: 0;
                    }

                    &:before {
                        background-color: $white;
                    }

                    &:after {
                        border: rem(5) solid $white;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.services_content, .about_content, .work_content, .contacts_content {
    padding-top: rem(100);
}