
.carousel-block {
    position: relative;
    width: 100%;
    &-img {
        display: block;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        position: relative;
        max-width: 1920px;
    }

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding: rem(20) 0;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: rem(4);
        color: $blue;
        display: table;

        h3, h2 {
            display: inline-block;
        }

        h3 {
            font-size: rem(60);
            font-weight: 300;
            font-style: normal;
            line-height: 0.97;
        }

        h2 {
            font-size: rem(138.5);
            font-weight: 900;
            font-style: normal;
            line-height: 1;
            text-transform: uppercase;
        }
    }
}

.carousel-top {
    .owl-theme {
        .owl-item {
            width: 100vw !important;
        }

        .owl-dots {
            position: absolute;
            bottom: rem(90);
            left: 50%;
            transform: translateX(-50%);

            .owl-dot {
                &:focus {
                    outline: none;
                }

                &.active {
                    span {
                        background-color: #74c7d5;
                    }
                }

                span {
                    width: rem(20);
                    height: rem(20);
                    border-radius: 50%;
                    margin: 0 rem(20);
                }
            }
        }

        .owl-nav {
            .owl-prev, .owl-next {
                span {
                    display: inline-block;
                    width: rem(34);
                    height: rem(56);
                    background: transparent no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }
    }
}

.carousel-indicators .active {
    background-color: $blue;
}

.carousel-prev-icon {
    background-image: url(../img/arrow_lev.png);
}

.carousel-next-icon {
    background-image: url(../img/arrow_right.png);
}