@import "../vars/variables";
@import "../vars/functions";

.work {
    background-image: url(../img/work.png);

    &_content {
        &_header {
            &_block {
                h1 {
                    font-size: rem(60);
                    font-weight: 300;
                    font-style: normal;
                    line-height: 0.97;
                    margin-bottom: rem(25);
                    text-transform: uppercase;
                    color: $white;
                }

                p {
                    font-size: rem(14);
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1.71;
                    width: 95%;
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }

        &_center {
            padding-top: rem(20);

            hr {
                border-top: rem(1) solid #94b963;
                margin: rem(20) 0;
            }

            &_navbar {
                &-brand, &_nav-link {
                    color: $white;
                    font-weight: bold;
                    font-style: normal;

                    &:hover, &:focus {
                        color: $white;
                    }
                }

                &-brand {
                    font-size: rem(20);
                    line-height: 1.2;
                }

                &_nav {
                    &-item {
                        margin: 0 rem(15);
                    }

                    &-link {
                        font-size: rem(16);
                        line-height: 1.5;
                    }

                    .active {
                        border-radius: rem(4);
                        background-color: #f5c149;
                    }
                }
            }
        }
    }
}

.work_photo {
    border-radius: rem(4);
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: rem(20) auto;

    &_button {
        &:hover {
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(61, 77, 41, 0.7);
            }

            .work_photo_button_zoom {
                opacity: 1;
            }
        }

        &_zoom {
            opacity: 0;
            position: absolute;
            top: 35%;
            left: 50%;
            width: rem(50);
            height: rem(50);
            border: rem(2) solid $white;
            border-radius: 50%;
            transform: translate(-50%, -35%);
            transition: all 0.3s ease;

            .plus {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &_img {
        max-height: rem(200);
        height: 100%;
        width: 100%;
    }

    &_info {
        position: relative;
        background-color: #eeeeee;
        color: #727272;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: rem(20);
            height: rem(20);
            background: #eeeeee;
            transform: rotate(45deg) translateX(-50%);
            margin-top: rem(-3);
            z-index: 5;
            top: 0;
            left: 50%;
        }

        p {
            margin: 0;
            font-size: rem(14);
            font-weight: normal;
            font-style: normal;
            line-height: rem(50);
            text-transform: uppercase;
        }
    }
}