@import "vars/variables";
@import "vars/functions";

.footer {
    background-color: #68a097;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 5;

    &_social {
        padding: 0;
        list-style: none;
        margin-top: rem(35);

        &_item {
            display: inline-block;
            width: rem(60);
            height: rem(60);
            background: #82c8bd;
            border-radius: 50%;
            position: relative;

            a {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        li + li {
            margin-left: rem(40);
        }
    }
}

.fp-viewing-4 {
    .footer {
        display: block;
    }
}