@import "vars/variables";
@import "vars/functions";

.header {
    position: fixed;
    z-index: 99;
    width: 100%;

}

.header {
    .active {
        background-color: #df5c64;
    }
}

.logo-text {
    @include damion(50);
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    color: $white;
}

.menu__navbar {
    padding-top: 0;
}

.menu__navbar-collapse {
    .active {
        border-radius: 0 0 rem(5) rem(5);
        color: $white;
    }
}

.menu__nav-link {
    padding: rem(15) rem(25) 0;
    color: $white;
    font-weight: normal;
    font-style: normal;
    line-height: 3.33;
    border-radius: 0 0 rem(5) rem(5);
}

.menu__navbar {
    padding-top: 0;

    .menu_header {
        .menu__nav-link {
            padding: rem(15) rem(25) 0;
            color: $white;
            font-weight: normal;
            font-style: normal;
            line-height: 3.33;
        }

        .active {
            border-radius: 0 0 rem(5) rem(5);
            color: $white;
        }
    }
}

.header-top {
    transform: translateX(0);
    animation: headerContent 1s linear;
}

@keyframes headerContent {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}