@for $i from 1 through 60 {
    @media(min-width: 2000px + ($i * 100)) {
        body {
            font-size: 20px + $i !important;
        }
    };
}

@for $i from 1 through 7 {
    @media(max-width: 1280px - ($i * 100)) {
        .menu__navbar {
            font-size: 18px - $i !important;
        }
        .carousel-text {
            font-size: 18px - $i !important;
        }
    };
}

@for $i from 1 through 12 {
    @media(max-width: 1280px - ($i * 50)) {
        .carousel-text {
            font-size: 18px - $i !important;
        }
    };
}

@for $i from 1 through 50 {
    @media(max-height: 1024px - ($i * 10)) {
        .services_content, .about_content, .work_content, .contacts_content {
            padding-top: 100px - $i !important;
        }
    };
}

@for $i from 1 through 20 {
    @media(max-height: 1024px - ($i * 10)) {
        .services_content, .about_content, .work_content, .contacts_content {
            padding-top: 100px - $i !important;
        }
        .services_content_header h1 {
            margin-bottom: 35px - $i !important;
        }
        .work_content_header_block h1 {
            margin-bottom: 25px - $i !important;
        }
        .work_content_center {
            margin-bottom: 20px - $i !important;
        }
        hr {
            margin-top: 20px - $i !important;
            margin-bottom: 20px - $i !important;
        }
    };
}

@for $i from 1 through 50 {
    @media(max-height: 1024px - ($i * 10)) {
        .services_content_center {
            padding-top: 80px - $i !important;
        }
    };
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1200px) {
    .map {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .about_social .facebook, .about_social .twit, .about_social .google {
        margin-right: em(5);
    }
}

@media screen and (max-width: 991px) {
    .about_block, .services_block {
        margin-top: em(20);
    }
}

@media screen and (max-width: 800px) {
    .carousel-indicators {
        bottom: em(10);
    }
    .services_content, .about_content, .work_content, .contacts_content {
        padding-top: em(25);
    }
}

@media screen and (max-width: 767px) {
    .map {
        width: em(260);
        margin: em(25) auto;
    }
    .about_block {
        h3 {
            font-size: em(20);
        }
    }
}