@import "../css/bootstrap";
@import "vars/variables";
@import "vars/functions";
@import "vars/animation";
@import "../fonts/font-face.css";
@import "../css/bootstrap-grid.min";
@import "../css/jquery.fancybox.min";
@import "header";
@import "footer";
@import "content/slider";
@import "content/services";
@import "content/about";
@import "content/work";
@import "content/contacts";
@import "breakpoint";
@import "responsive";

//Helpers

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.full-height {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

* {
    margin: 0;
    padding: 0;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
    overflow: hidden !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: rem(15);
    padding-right: rem(15);
}

.row {
    margin-left: rem(-15);
    margin-right: rem(-15);

    &.no-gutters {
        margin-left: 0;
        margin-right: 0;

        & > .col, & > [class*=col-] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.no-parent {
        & > .col, & > [class*=col-] {
            position: static;
        }
    }
}

.row, .d-flex {
    .pull-left {
        margin-right: auto;
    }

    .pull-right {
        margin-left: auto;
    }
}

body {
    font-size: #{$browser-context}px;
    font-family: $lato;
    color: $black;
    overflow-x: hidden;

    &.modal-show, &.menu-show {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;

    &:hover, &:focus {
        color: $black;
        text-decoration: none;
    }
}

.container {
    max-width: rem(1360);
}

.hidden-menu {
    transform: none;
    transition: transform .5s ease-in-out;
}

.shown-menu {
    transform: translateX(rem(-320));
    transition: transform .5s ease-in-out;
}

.shown-right {
    right: 0;
    transition: right .5s ease-in-out;
}

.hidden-right {
    right: rem(-500);
    transition: right .7s ease-in-out;
}

.mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: display .5s ease-in-out;
}

.active_mask {
    display: block;
    transition: display .5s ease-in-out;
}

::-webkit-input-placeholder {
    color: $gray-dark;
}

::-moz-placeholder {
    color: $gray-dark;
}

:-moz-placeholder {
    color: $gray-dark;
}

:-ms-input-placeholder {
    color: $gray-dark;
}

.v--modal-block-scroll {
    .content {
        z-index: inherit;
    }
}


#home {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    .active {
        background-color: $blue;
    }
}

.services_block_img:before,
.services_block_img:after,
.about_block_img:before,
.about_block_img:after,
.about_block_img_second:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.services_block_img:before,
.about_block_img:before {
    background-color: $white;
}

.fp-viewing-0 {
    .header {
        .menu__nav-link {
            background-color: transparent;
        }

        .header_home {
            background-color: $blue;
        }
    }
}

.fp-viewing-1 {
    .header {
        .menu__nav-link {
            background-color: transparent;
        }

        .header_services {
            background-color: #df5c64;
        }
    }
}

.fp-viewing-2 {
    .header {
        .menu__nav-link {
            background-color: transparent;
        }

        .header_about {
            background-color: #91778e;
        }
    }
}

.fp-viewing-3 {
    .header {
        .menu__nav-link {
            background-color: transparent;
        }

        .header_work {
            background-color: #a1ca6c;
        }
    }
}

.fp-viewing-4 {
    .header {
        .menu__nav-link {
            background-color: transparent;
        }

        .header_contact {
            background-color: #82c8bd;
        }
    }
}

.content {
    overflow: hidden;
}