<template>
  <div class="about" id="about">
    <div class="about_content">
      <div class="container text-center">
        <div class="about_content_header">
          <div class="row">
            <div class="col-md-12">
              <div class="about_content_header_block">
                <h1
                    v-animate.repeat="'about-header-top'"
                >Who we are & what we do</h1>
                <p
                    v-animate.repeat="'about-header-bottom'"
                >Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere
                  lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et,
                  ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut
                  luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
                <div class="about_content_header_block_team"
                     v-animate.repeat="'about-header-btn'"
                >
                  <h4>Meet the team</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about_content_center">
          <div class="row">
            <div class="col-lg-3 col-sm-6 about_cont_cen_pad">
              <div class="about_content_center_block"
                   v-animate.repeat="'about-content-left'"
              >
                <div class="about_content_center_block_img">
                  <div class="about_content_center_block_img_second">
                    <img class="normal" src="~/assets/img/user2.png" alt="">
                    <img class="red" src="~/assets/img/user.png" alt="">
                  </div>
                </div>
                <h3>Anton Petrov</h3>
                <p>General manager</p>
                <ul class="about_content_center_block_social">
                  <li class="about_content_center_block_social_item facebook"><a href=""><img
                      src="~/assets/img/facebook.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item twit"><a href=""><img
                      src="~/assets/img/twit.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item google"><a href=""><img
                      src="~/assets/img/g.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item linke"><a href=""><img
                      src="~/assets/img/lin.png" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 about_cont_cen_pad">
              <div class="about_content_center_block"
                   v-animate.repeat="'about-content-second'"
              >
                <div class="about_content_center_block_img">
                  <div class="about_content_center_block_img_second">
                    <img class="normal" src="~/assets/img/user2.png" alt="">
                    <img class="red" src="~/assets/img/user.png" alt="">
                  </div>
                </div>
                <h3>Kirl DONCHEV</h3>
                <p>Design Master</p>
                <ul class="about_content_center_block_social">
                  <li class="about_content_center_block_social_item facebook"><a href=""><img
                      src="~/assets/img/facebook.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item twit"><a href=""><img
                      src="~/assets/img/twit.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item google"><a href=""><img
                      src="~/assets/img/g.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item linke"><a href=""><img
                      src="~/assets/img/lin.png" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 about_cont_cen_pad">
              <div class="about_content_center_block"
                   v-animate.repeat="'about-content-third'"
              >
                <div class="about_content_center_block_img">
                  <div class="about_content_center_block_img_second">
                    <img class="normal" src="~/assets/img/user2.png" alt="">
                    <img class="red" src="~/assets/img/user.png" alt="">
                  </div>
                </div>
                <h3>Ilian Bonev</h3>
                <p>Developer Ninja</p>
                <ul class="about_content_center_block_social">
                  <li class="about_content_center_block_social_item facebook"><a href=""><img
                      src="~/assets/img/facebook.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item twit"><a href=""><img
                      src="~/assets/img/twit.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item google"><a href=""><img
                      src="~/assets/img/g.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item linke"><a href=""><img
                      src="~/assets/img/lin.png" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 about_cont_cen_pad">
              <div class="about_content_center_block"
                   v-animate.repeat="'about-content-right'"
              >
                <div class="about_content_center_block_img">
                  <div class="about_content_center_block_img_second">
                    <img class="normal" src="~/assets/img/user2.png" alt="">
                    <img class="red" src="~/assets/img/user.png" alt="">
                  </div>
                </div>
                <h3>Doni Stamov</h3>
                <p>SEO guru</p>
                <ul class="about_content_center_block_social">
                  <li class="about_content_center_block_social_item facebook"><a href=""><img
                      src="~/assets/img/facebook.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item twit"><a href=""><img
                      src="~/assets/img/twit.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item google"><a href=""><img
                      src="~/assets/img/g.png" alt=""></a></li>
                  <li class="about_content_center_block_social_item linke"><a href=""><img
                      src="~/assets/img/lin.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "About"
  }
</script>

<style scoped>

</style>