<template>
  <div class="contacts" id="contacts">
    <div class="contacts_img"><img src="~/assets/img/layer-24.png" alt=""></div>
    <div class="contacts_content">
      <div class="container">
        <div class="contacts_content_header">
          <div class="row text-center">
            <div class="col-md-12">
              <div>
                <h1
                    v-animate.repeat="'about-header-top'"
                >Contact us</h1>
                <p
                    v-animate.repeat="'about-header-bottom'"
                >Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet
                  erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at
                  ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere
                  quis.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts_content_center">
          <div class="row">
            <div class="col-md-6"
                 v-animate.repeat="'left'"
            >
              <h2>Address</h2>
              <div class="row">
                <div class="col-sm-5">
                  <div class="contacts_content_address">
                    <h3>Acrostia</h3>
                    <p>Sevenoaks Rd<br>
                      Sevenoaks TN14 7HR, UK</p>
                    <div class="contacts_content_contact">
                      <p><span>Phone:</span><a href="">+44 555 555 555</a></p>
                      <p><span>Fax:</span><a href="">+44 556 555 555</a></p>
                      <p><span>E-mail:</span><a href="" style="text-decoration: underline;">info@acrostia.com</a></p>
                      <p><span>Skype:</span><a href="">AcOstia</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="map">
                    <div style="width: 260px;height: 220px" id="mappl9w1ihe"></div>
                    <script>function YandexReadyHandlerpl9w1ihe() {
                      var m = new ymaps.Map("mappl9w1ihe", {
                        center: [34.09268634028349, -118.32276754567194],
                        zoom: 14,
                        controls: ["zoomControl", "typeSelector"],
                        type: "yandex#map"
                      }, {suppressMapOpenBlock: true});
                      return m;
                    }</script>
                    <script src="//api-maps.yandex.ru/2.1/?lang=ru&onload=YandexReadyHandlerpl9w1ihe"
                            type="text/javascript"></script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6"
                 v-animate.repeat="'right'"
            >
              <div class="contacts_content_email">
                <h2>Ask a question</h2>
                <form>
                  <div class="row">
                    <div class="col-sm-6 contacts_cont_email_pad">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-sm-6 contacts_cont_email_pad">
                      <input type="text" class="form-control" placeholder="Family">
                    </div>
                    <div class="col-sm-12 text-center contacts_cont_email_pad">
                      <textarea class="form-control" rows="6" style="height: 160px"
                                placeholder="Your question"></textarea>
                      <button type="button" class="btn btn-danger btn-lg">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Contacts"
  }
</script>

<style scoped>

</style>