<template>
  <footer class="footer"
          v-animate.repeat="'footer-bottom'"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer_social">
            <li class="footer_social_item facebook">
              <nuxt-link to="#"><img src="~/assets/img/facebook@2x.png" alt=""></nuxt-link>
            </li>
            <li class="footer_social_item twit">
              <nuxt-link to="#"><img src="~/assets/img/twit@2x.png" alt=""></nuxt-link>
            </li>
            <li class="footer_social_item google">
              <nuxt-link to="#"><img src="~/assets/img/g@2x.png" alt=""></nuxt-link>
            </li>
            <li class="footer_social_item linke">
              <nuxt-link to="#"><img src="~/assets/img/lin@2x.png" alt=""></nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>

</style>