<template>
  <header class="header" v-animate.repeat="'header-top'">
    <div class="container">
      <nav class="navbar navbar-expand-lg menu__navbar">
        <a class="navbar-brand logo-text" href="#">acrostia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav_second"
                aria-controls="navbarNav_second" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img class="w-100" src="~/assets/img/menu.svg" alt=""></span>
        </button>
        <div class="collapse navbar-collapse menu__navbar-collapse" id="navbarNav_second">
          <ul class="my-2 my-lg-0 navbar-nav menu_header ml-auto">
            <li class="nav-item"><a href="#home" class="nav-link menu__nav-link header_home">Home</a></li>
            <li class="nav-item"><a href="#services" class="nav-link menu__nav-link header_services">Services</a></li>
            <li class="nav-item"><a href="#about" class="nav-link menu__nav-link header_about">About</a></li>
            <li class="nav-item"><a href="#work" class="nav-link menu__nav-link header_work">Work</a></li>
            <li class="nav-item"><a href="#contacts" class="nav-link menu__nav-link header_contact">Contacts</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
  export default {
    name: "Header"
  }
</script>

<style scoped>

</style>