<template>
  <div class="services" id="services">
    <div class="services_content">
      <div class="container text-center">
        <div class="services_content_header">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <h1
                    v-animate.repeat="'services-top'"
                >our services</h1>
                <h5
                    v-animate.repeat="'left'"
                > Cras commodo mattis justo nec <strong>lobortis</strong>. Nam ut tellus lobortis, ullamcorper massa sit
                  amet</h5>
                <p
                    v-animate.repeat="'right'"
                >Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet
                  erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at
                  ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere
                  quis.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="services_content_center">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="services_content_center_block"
                   v-animate.repeat="'left'"
              >
                <div class="services_content_center_block_img">
                  <img src="~/assets/img/lightball.png" alt="">
                </div>
                <h3>Researching</h3>
                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="services_content_center_block"
                   v-animate.repeat="'bottom'"
              >
                <div class="services_content_center_block_img">
                  <img src="~/assets/img/m-wand.png" alt="">
                </div>
                <h3>design</h3>
                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="services_content_center_block"
                   v-animate.repeat="'bottom'"
              >
                <div class="services_content_center_block_img">
                  <img src="~/assets/img/giars.png" alt="">
                </div>
                <h3>Development</h3>
                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="services_content_center_block"
                   v-animate.repeat="'right'"
              >
                <div class="services_content_center_block_img">
                  <img src="~/assets/img/rocket.png" alt="">
                </div>
                <h3>launch</h3>
                <p>Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "OurServices"
  }
</script>

<style scoped>

</style>