<template>
  <div class="carousel-top"  id="home">
    <div class="slide">
      <div class="carousel-block">
        <img class="carousel-block-img" src="~/assets/img/slide_01.png" alt="Second slide">
        <div class="carousel-block-text">
          <h3>GOOD IDEAS<br>comes</h3>
          <h2>second!</h2>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="carousel-block">
        <img class="carousel-block-img" src="~/assets/img/slide_01.png" alt="Second slide">
        <div class="carousel-block-text">
          <h3>GOOD IDEAS<br>comes</h3>
          <h2>first!</h2>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="carousel-block">
        <img class="carousel-block-img" src="~/assets/img/slide_01.png" alt="Second slide">
        <div class="carousel-block-text">
          <h3>GOOD IDEAS<br>comes</h3>
          <h2>third!</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "TopSlider",
  }
</script>

<style scoped>

</style>
