<template>
  <div class="work" id="work">
    <div class="work_content">
      <div class="container text-center">
        <div class="work_content_header">
          <div class="row">
            <div class="col-md-12">
              <div class="work_content_header_block">
                <h1
                    v-animate.repeat="'right'"
                >our work</h1>
                <p
                    v-animate.repeat="'left'"
                >Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet
                  erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at
                  ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere
                  quis.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="work_content_center">
          <hr>
          <nav class="navbar navbar-expand-lg work_content_center_navbar">
            <a class="navbar-brand work_content_center_navbar-brand" href="#">PORTFOLIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><img class="v-100" src="~/assets/img/menu.svg" alt=""></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto work_content_center_navbar_nav" role="tablist">
                <li class="nav-item work_content_center_navbar_nav-item">
                  <a class="nav-link work_content_center_navbar_nav-link"
                     :class="{active: isActive('all')}"
                     @click.prevent="setActiveTab('all')"
                     href="#all"
                     role="tab"
                     aria-controls="all"
                  >All
                  </a>
                </li>
                <li class="nav-item work_content_center_navbar_nav-item">
                  <a class="nav-link work_content_center_navbar_nav-link"
                     :class="{active: isActive('photo')}"
                     @click.prevent="setActiveTab('photo')"
                     href="#photography"
                     role="tab"
                     aria-controls="photography"
                  >Photography
                  </a>
                </li>
                <li class="nav-item work_content_center_navbar_nav-item">
                  <a class="nav-link work_content_center_navbar_nav-link"
                     :class="{active: isActive('logo')}"
                     @click.prevent="setActiveTab('logo')"
                     href="#logo" role="tab"
                     aria-controls="logo"
                  >Logo design
                  </a>
                </li>
                <li class="nav-item work_content_center_navbar_nav-item">
                  <a class="nav-link work_content_center_navbar_nav-link"
                     :class="{active: isActive('web')}"
                     @click.prevent="setActiveTab('web')"
                     href="#web" role="tab"
                     aria-controls="web"
                  >Web design
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <hr>
          <div class="tab-content" id="tab">
            <div class="tab-pane fade" :class="{'active show' : isActive('all')}" id="all"></div>
            <div class="tab-pane fade" :class="{'active show' : isActive('photo')}" id="photography">
              <div class="row">
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'left'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-12.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-12.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'top'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-15.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-15.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aliquam</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'top'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-17.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-17.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'right'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-18.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-18.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'left'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-19.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-19.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'work-bottom'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-20.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-20.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'work-bottom'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-21.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-21.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 work_cont_cen_pad">
                  <div class="work_photo"
                       v-animate.repeat="'right'"
                  >
                    <a class="work_photo_button" href="~/assets/img/layer-22.png" data-fancybox="iframe">
                      <img class="work_photo_img" src="~/assets/img/layer-22.png" alt="">
                      <div class="work_photo_button_zoom" href="#">
                        <img class="plus" src="~/assets/img/+.png" alt="">
                      </div>
                    </a>
                    <div class="work_photo_info">
                      <p>Aenean a elit</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" :class="{'active show' : isActive('logo')}" id="logo"></div>
            <div class="tab-pane fade" :class="{'active show' : isActive('web')}" id="web"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Work",
    data() {
      return {
        activeItem: 'photo',
      };
    },
    methods: {
      setActiveTab(menuItem) {
        this.activeItem = menuItem
      },
      isActive(menuItem) {
        return this.activeItem === menuItem
      }
    }
  }
</script>

<style scoped>

</style>