@import url(../css/bootstrap.css);
@import url(../fonts/font-face.css);
@import url(../fonts/lato.css);
@import url(../css/bootstrap-grid.min.css);
@import url(../css/jquery.fancybox.min.css);
body {
  font-family: Lato, sans-serif;
  font-size: 18px; }

#home {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }
  #home .active {
    background-color: #74c7d5; }

.logo-text {
  font: 2.77778em Damion, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  color: #ffffff; }

.menu__navbar {
  padding-top: 0; }

.menu__navbar-collapse .active {
  border-radius: 0 0 0.27778em 0.27778em;
  color: #ffffff; }

.menu__nav-link {
  padding: 0.83333em 1.38889em 0;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  line-height: 3.33; }

.menu__navbar {
  padding-top: 0; }
  .menu__navbar .menu_header .menu__nav-link {
    padding: 0.83333em 1.38889em 0;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    line-height: 3.33; }
  .menu__navbar .menu_header .active {
    border-radius: 0 0 0.27778em 0.27778em;
    color: #ffffff; }

.carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-box-shadow: inset 0px 129px 200px -100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 129px 200px -100px rgba(0, 0, 0, 0.5); }

.carousel-img {
  display: block;
  width: 100%;
  min-height: 19.44444em; }

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 1.11111em 0;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.22222em;
  color: #74c7d5;
  width: 46.66667em; }
  .carousel-text h3, .carousel-text h2 {
    display: inline-block; }
  .carousel-text h3 {
    font-size: 3.33333em;
    font-weight: 300;
    font-style: normal;
    line-height: 0.97; }
  .carousel-text h2 {
    font-size: 7.69444em;
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    text-transform: uppercase; }

.carousel-prev-icon, .carousel-next-icon {
  display: inline-block;
  width: 1.88889em;
  height: 3.11111em;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.carousel-prev-icon {
  background-image: url(../img/arrow_lev.png); }

.carousel-next-icon {
  background-image: url(../img/arrow_right.png); }

.carousel-indicators {
  bottom: 5em; }

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 1.11111em;
  height: 1.11111em;
  margin-right: 1.11111em;
  margin-left: 1.11111em;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%; }

.carousel-indicators .active {
  background-color: #74c7d5; }

.services, .about, .work, .contacts {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100%; }

.services {
  background-image: url(../img/services.png); }
  .services header .active {
    background-color: #df5c64; }

.header h1, .header h5 {
  text-transform: uppercase;
  color: #ffffff; }

.header h1 {
  font-size: 3.33333em;
  font-weight: 300;
  font-style: normal;
  line-height: 0.97;
  margin-bottom: 35px; }

.header h5 {
  font-size: 1.11111em;
  font-weight: normal;
  font-style: normal;
  line-height: 2.9; }
  .header h5 strong {
    color: #ec9da2; }

.header p {
  font-size: 0.77778em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.71;
  width: 95%;
  margin: auto; }

.services_content, .about_content, .work_content, .contacts_content {
  padding-top: 5.55556em; }

.services_content_header p {
  color: #ffcccf; }

.services_content_center {
  padding: 6.66667em 0; }

.serv_cont_cen_pad, .about_cont_cen_pad, .work_cont_cen_pad {
  padding-left: 0.55556em;
  padding-right: 0.55556em; }

.services_block {
  padding: 2.22222em 1.38889em;
  background-color: rgba(200, 83, 90, 0.8);
  border-radius: 0.27778em; }
  .services_block h3 {
    text-transform: uppercase;
    font-size: 1.66667em;
    font-weight: 300;
    font-style: normal;
    line-height: 1.93;
    color: #ffffff;
    margin: 30px 0 50px; }
  .services_block p {
    font-size: 0.77778em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    color: #fefefe;
    margin: 0; }

.services_block_img {
  position: relative;
  width: 6.66667em;
  height: 6.66667em;
  margin: auto; }
  .services_block_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.services_block_img:before,
.services_block_img:after,
.about_block_img:before,
.about_block_img:after,
.about_block_img_second:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0; }

.services_block_img:before,
.about_block_img:before {
  background-color: #ffffff; }

.services_block_img:after {
  border: 0.27778em solid #ffffff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.about {
  background-image: url(../img/about.png); }
  .about header .active {
    background-color: #91778e; }

.about_content_header p {
  color: #e6d1e3; }

.header_block {
  width: 15.27778em;
  height: 3.61111em;
  border-radius: 0.27778em;
  background-color: #a1ca6c;
  position: relative;
  margin: 3.05556em auto; }
  .header_block h4 {
    font-size: 1.38889em;
    font-weight: 900;
    font-style: normal;
    line-height: 2.32;
    color: #ffffff;
    text-transform: uppercase; }

.header_block:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #a1ca6c;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  margin-top: -5px;
  z-index: 5;
  top: 100%;
  left: 50%;
  position: absolute; }

.about_block {
  padding: 1.66667em;
  background-color: rgba(77, 63, 75, 0.5);
  border-radius: 0.27778em; }
  .about_block h3 {
    text-transform: uppercase;
    font-size: 1.38889em;
    font-weight: 900;
    font-style: normal;
    color: #c7b6c5; }
  .about_block p {
    font-size: 0.77778em;
    font-weight: normal;
    font-style: normal;
    color: #a1ca6c; }

.about_content_center {
  padding-bottom: 6.11111em; }

.about_block:hover .about_block_img:after {
  border: 0.27778em solid #df5c64; }

.about_block:hover .red {
  opacity: 1 !important; }

.about_block:hover .normal {
  opacity: 0 !important; }

.about_block:hover h3 {
  color: #ffffff; }

.about_block:hover p {
  color: #ff8973; }

.about_block:hover .facebook {
  background: #4f689e; }

.about_block:hover .twit {
  background: #74c7d5; }

.about_block:hover .google {
  background: #df5c64; }

.about_block:hover .linke {
  background: #3e61af; }

.about_block_img {
  position: relative;
  width: 8.55556em;
  height: 8.55556em;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.83333em; }
  .about_block_img .normal,
  .about_block_img .red {
    position: absolute;
    top: 8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .about_block_img .red {
    opacity: 0; }
  .about_block_img .normal {
    opacity: 1; }

.about_block_img_second:after {
  border: 0.27778em solid #ffffff;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98); }

.about_block_img:after {
  border: 0.27778em solid #a1859e;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01); }

.about_social {
  padding: 0;
  list-style: none;
  margin-top: 1.94444em; }
  .about_social .facebook, .about_social .twit, .about_social .google {
    margin-right: 1.11111em; }

.about_social_item {
  display: inline-block;
  width: 1.66667em;
  height: 1.66667em;
  background: #a1859e;
  border-radius: 50%; }

.work {
  background-image: url(../img/work.png); }
  .work header .active {
    background-color: #a1ca6c; }

.work_content_header p {
  color: #ffffff;
  margin-bottom: 1rem; }

.work_content_center {
  padding: 1.38889em 0 5.83333em; }
  .work_content_center hr {
    border-top: 1px solid #94b963;
    margin: 1.66667em 0; }

.work_cont_navbar .navbar-brand, .work_cont_navbar .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-style: normal; }

.work_cont_navbar .navbar-brand {
  font-size: 1.11111em;
  line-height: 1.2; }

.work_cont_navbar .nav-link {
  font-size: 0.88889em;
  line-height: 1.5; }

.work_cont_nav .active {
  border-radius: 0.22222em;
  background-color: #f5c149; }

.work_cont_nav .nav-item {
  margin: 0 0.83333em; }

.work_photo {
  border-radius: 0.22222em;
  overflow: hidden;
  position: relative;
  margin-top: 1.11111em; }

.work_photo_img:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(61, 77, 41, 0.7); }

.work_photo_img:hover .work_photo_zoom {
  opacity: 1; }

.work_photo_zoom {
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 2.77778em;
  height: 2.77778em;
  border: 0.11111em solid #ffffff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -35%);
  -ms-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .work_photo_zoom .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.work_photo_info {
  position: relative;
  background-color: #eeeeee;
  color: #727272; }
  .work_photo_info p {
    margin: 0;
    font-size: 0.77778em;
    font-weight: normal;
    font-style: normal;
    line-height: 4.14;
    text-transform: uppercase; }

.work_photo_info:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.11111em;
  height: 1.11111em;
  background: #eeeeee;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  margin-top: -0.16667em;
  z-index: 5;
  top: 0;
  left: 50%; }

.contacts {
  background-color: #75b4aa;
  color: #ffffff; }
  .contacts header .active {
    background-color: #82c8bd; }

.contacts_img {
  position: absolute; }

.contacts_content_center {
  padding-top: 5.55556em;
  padding-bottom: 4.44444em; }
  .contacts_content_center h2 {
    font-size: 1.66667em;
    font-weight: 300;
    font-style: normal;
    line-height: 1;
    margin-bottom: 1.38889em; }

.contacts_content_address h3 {
  font-size: 1.11111em;
  font-weight: bold;
  font-style: normal;
  line-height: 0.85;
  color: #c0dfda;
  margin-bottom: 1.11111em; }

.contacts_content_address p {
  font-size: 0.88889em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.31; }

.contacts_content_contact {
  padding-top: 2.5em; }
  .contacts_content_contact p {
    color: #d0efea;
    margin: 0; }
    .contacts_content_contact p span {
      display: inline-block;
      min-width: 70px; }
    .contacts_content_contact p a {
      color: #ffffff; }

.map {
  width: 14.44444em;
  height: 12.22222em;
  border-radius: 0.22222em;
  background-color: #ff8973;
  overflow: hidden;
  margin: auto; }

.contacts_cont_email_pad {
  padding: 0 0.55556em 1.11111em; }
  .contacts_cont_email_pad .form-control {
    border-radius: 0.22222em;
    background-color: #68a097;
    padding: 0.83333em 1.11111em;
    border: 0;
    color: #82c8bd; }
  .contacts_cont_email_pad .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f6f6f6; }
  .contacts_cont_email_pad ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #82c8bd; }
  .contacts_cont_email_pad :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #82c8bd; }
  .contacts_cont_email_pad ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #82c8bd; }
  .contacts_cont_email_pad :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #82c8bd; }
  .contacts_cont_email_pad .btn {
    font-size: 1.44444em;
    font-weight: 900;
    font-style: normal;
    line-height: 0.81;
    margin-top: 1.66667em;
    text-transform: uppercase; }
  .contacts_cont_email_pad .btn-danger {
    background: #df5c64;
    -webkit-box-shadow: inset 0px -4px 0 0 rgba(178, 74, 80, 0.5);
    box-shadow: inset 0px -4px 0 0 rgba(178, 74, 80, 0.5);
    border: 0; }
  .contacts_cont_email_pad .btn-lg {
    width: 260px;
    height: 50px; }

.contacts_footer {
  background-color: #68a097; }

.footer_social {
  padding: 0;
  list-style: none;
  margin-top: 1.94444em; }
  .footer_social .facebook, .footer_social .twit, .footer_social .google {
    margin-right: 2.22222em; }

.footer_social_item {
  display: inline-block;
  width: 3.33333em;
  height: 3.33333em;
  background: #82c8bd;
  border-radius: 50%;
  position: relative; }
  .footer_social_item a {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
