<template>
  <div>
    <Header/>
    <div class="content">
      <nuxt/>
    </div>
  </div>
</template>

<script>

  import Header from '~/components/Header'


  export default {
    components: {
      Header,

    }
  }
</script>

<style>

</style>
