
.animate {
    transition-delay: .5s;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.left {
    transform: translateX(-500px);
    position: relative;
    z-index: -1;
}

.left.animate-active {
    transform: translateX(0);
    z-index: 1;
}

.right {
    transform: translateX(500px);
    position: relative;
    z-index: -1;
}

.right.animate-active {
    transform: translateX(0);
    z-index: 1;
}

.bottom {
    transform: translateY(500px);
    position: relative;
    z-index: -1;
}

.bottom.animate-active {
    transform: translateY(0);
    z-index: 1;
}

.top {
    transform: translateY(-500px);
    position: relative;
    z-index: -1;
}

.top.animate-active {
    transform: translateY(0);
    z-index: 1;
}

.services-top {
    transform: translateY(-100px);
    position: relative;
    z-index: -1;
}

.services-top.animate-active {
    transform: translateY(0);
    z-index: 1;
}

.about-header-top.animate-active {
    animation: aboutHeaderTop 1s linear .5s;
}

@keyframes aboutHeaderTop {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about-header-bottom.animate-active {
    animation: aboutHeaderBottom 1s linear .5s;
}

@keyframes aboutHeaderBottom {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.about-header-btn.animate-active {
    animation: aboutHeaderBtn 1s linear .5s;
}

@keyframes aboutHeaderBtn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.about-content-left.animate-active {
    animation: aboutContentLeft 1s linear .5s;
}

@keyframes aboutContentLeft {
    0% {
        transform: rotate(0deg);
        transform-origin: 110% 110%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 110% 110%;
    }
}

.about-content-right.animate-active {
    animation: aboutContentRight 1s linear .5s;
}

@keyframes aboutContentRight {
    0% {
        transform: rotate(0deg);
        transform-origin: -10% 110%;
    }
    100% {
        transform: rotate(-360deg);
        transform-origin: -10% 110%;
    }
}

.about-content-second.animate-active {
    animation: aboutContentSecond 1s linear .5s;
}

@keyframes aboutContentSecond {
    0% {
        transform: rotate(0deg);
        transform-origin: -10% 110%;
    }
    100% {
        transform: rotate(-360deg);
        transform-origin: -10% 110%;
    }
}

.about-content-third.animate-active {
    animation: aboutContentThird 1s linear .5s;
}

@keyframes aboutContentThird {
    0% {
        transform: rotate(0deg);
        transform-origin: 110% 110%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 110% 110%;
    }
}

.work-bottom {
    transform: translateY(200px);
    position: relative;
    z-index: -1;
}

.work-bottom.animate-active {
    transform: translateY(0);
    z-index: 1;
}

.footer-bottom {
    transform: translateY(150px);
    position: relative;
}

.footer-bottom.animate-active {
    transform: translateY(0);
}


