@import "variables";

//Methods

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

//Mixin

@mixin damion($rem) {
    font: rem($rem) $damion;
    //ответ
    //@include damion(35);
}

