//Vars

$damion: 'Damion', sans-serif;
$lato: 'Lato', sans-serif;

$browser-context: 16; // Default

//Colors

$black: #000000;

$white: #ffffff;

$blue: #74c7d5;

$green: #a1ca6c;


$dark-blue: #3f4d65;

$purple: #312F44;

$gray: #f3f3f3;

$gray-dark: #9D9D9D;

$gray-light: #C4C4C4;
$gray-light-second: #E5E5E5;
$gray-light-third: #EDEDED;

$red: #963C3B;
$red_second: #9D0000;
$red_third: #9E3A26;

$orange: #FF7016;
$orange-second: #ff7201;
//
