<template>
  <div class="content_index">
    <full-page :options="options" id="fullpage">
      <div class="section fp-table active">
        <TopSlider/>
      </div>
      <div class="section">
        <OurServices/>
      </div>
      <div class="section">
        <About/>
      </div>
      <div class="section">
        <Work/>
      </div>
      <div class="section">
        <Contacts/>
        <Footer/>
      </div>
    </full-page>
  </div>
</template>

<script>
  import TopSlider from "~/components/TopSlider.vue";
  import OurServices from '~/components/OurServices.vue';
  import About from '~/components/About.vue';
  import Work from '~/components/Work.vue';
  import Contacts from '~/components/Contacts.vue';
  import Footer from '~/components/Footer';


  export default {
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
    components: {
      TopSlider,
      OurServices,
      About,
      Work,
      Contacts,
      Footer
    },
    data() {
      return {
        options: {
          afterLoad: this.afterLoad,
          scrollBar: true,
          css3: true,
          controlArrows: true,
        }
      }
    },
  }
</script>

<style>

</style>
